body {
    background-color: white;
    }
    
    #row1 {
        padding: 10px;
    }
    
    #row2 {
        justify-content: center;
    }
    
    .col-3 {
        color:darkblue;
        text-align: center;
    }
    
    #highscore {
        color: darkblue;
    }
    
    .display-3 {
        text-align: center;
        margin-top: -50px;
    }
    
    .lead {
        text-align: center;
    }
    
    .jumbotron {
        background-color: #64A966;
        height: 270px;
    }
    
    .buttonRow {
        justify-content: center;
        padding: 5px;
    }
    
    .card {
        background-color: #64A966;
    }
    
    img {
        width: 450px;
    }
    
    .col-4 {
        text-align: -webkit-center;
    }
    
    #questionsCard {
        display: none;
    }
    
    #correctIncorrect {
        font-size: xx-large;
    }
    
    #buttonInitials {
        display: none;
    }
    
    #inlineFormInput {
        display: none;
        width: 30%;
    }
    
    /* highScores HTML */
    
    #highRow {
        padding: 10px;
    }
    
    #theTottaly {
        color: darkblue;
    }
    
    #header {
        font-size: 4.5rem;
        font-weight: 300;
        line-height: 1.2;
    }
    
    #imageHigh {
        justify-content: center;
        padding: 30px;
    }
